[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=piotr
WorkingDirectory=/home/piotr/sites/DOMAIN
EnvironmentFile=/home/piotr/sites/DOMAIN/.env

ExecStart=/home/piotr/sites/DOMAIN/env/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target